<IfModule mod_rewrite.c>
    RewriteEngine on
	RewriteCond $1 !^(sig|dummy\.php|json_html\.html|phpinfo\.php|upload\.php|index\.php|uploads|robots\.txt|favicon\.ico|statics|phpinfo\.php)
	RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
